<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Asmin - Basically .NET CORE Infrastructure</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background:blue; text-align:center">

    @RenderBody()

    <footer>
        <div style="color:#fff">
            &copy; 2020 - Asmin -
            <a style="color:#fff" target="_blank" href="https://github.com/yusufyilmazfr/Asmin">GitHub</a>
        </div>
    </footer>
</body>
</html>
