@model int

<div class="card">
    <div class="seo-fact sbg1">
        <div class="p-4 d-flex justify-content-between align-items-center">
            <div class="seofct-icon"><i class="ti-user"></i> Users</div>
            <h2>@Model</h2>
        </div>
        <canvas id="seolinechart1" height="50"></canvas>
    </div>
</div>
