@model int
<div class="card">
    <div class="seo-fact sbg2">
        <div class="p-4 d-flex justify-content-between align-items-center">
            <div class="seofct-icon"><i class="ti-stats-up"></i> Incoming Visitors</div>
            <h2>@Model</h2>
        </div>
        <canvas id="seolinechart2" height="50"></canvas>
    </div>
</div>